<h2>ATA de Reunião Semanal - Semana de {{inicioSemana}} à {{fimSemana}}</h2>

<span>
    <strong> Data/Hora: </strong>
    {{hoje}} 14:00 às 16:00
</span>
<br />
<span> 
    <strong> Presentes: </strong> 
    {{presentes}} 
</span> 

<button mat-button (click)="marcarPresenca()" title="Marcar presença"> 
    <mat-icon>thumb_up</mat-icon> 
</button>

<mat-divider></mat-divider>

<button mat-button title="Abrir"> 
    <mat-icon>folder_open</mat-icon>
</button>
<button mat-button title="Salvar"> 
    <mat-icon>save</mat-icon>
</button>
<button mat-button title="Exportar"> 
    <mat-icon>move_to_inbox</mat-icon>
</button>

<mat-divider></mat-divider>

<mat-accordion>
    <mat-expansion-panel *ngFor="let p of participantes; index as i"> 
      <mat-expansion-panel-header>
        <mat-panel-title>
            <strong> {{p.nome}} </strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
        <div class="ata-container">
            <span>
                <mat-form-field>
                    <mat-label>Atividades 100% entregues</mat-label>
                    <textarea rows="10" cols="50" matInput> </textarea>
                </mat-form-field>
            </span>
            <span>
                <mat-form-field>
                    <mat-label> Em revisão (não entregues)</mat-label>
                    <textarea rows="10" cols="50" matInput> </textarea>
                </mat-form-field>     
            </span>
            <span>
                <mat-form-field>
                    <mat-label> Não finalizadas (nem mesmo para revisão) </mat-label>
                    <textarea rows="10" cols="50" matInput> </textarea>
                </mat-form-field>     
            </span>
            <span>
                <mat-form-field>
                    <mat-label> Plano de ação para reverter</mat-label>
                    <textarea rows="10" cols="50" matInput> </textarea>
                </mat-form-field>     
            </span>
            <span>
                <mat-form-field>
                    <mat-label> Coisas legais que aconteceram </mat-label>
                    <textarea rows="10" cols="50" matInput> </textarea>
                </mat-form-field>     
            </span>
            <span>
                <mat-form-field>
                    <mat-label> Coisas que deram errado e porquê</mat-label>
                    <textarea rows="10" cols="50" matInput> </textarea>
                </mat-form-field>     
            </span>

            <span>
                <mat-form-field>
                    <mat-label> Qual sua nota? (De 1 a 4) </mat-label>
                    <mat-select [(ngModel)]="p.nota">
                        <mat-option value="1"> 1 </mat-option>
                        <mat-option value="2"> 2 </mat-option>
                        <mat-option value="3"> 3 </mat-option>
                        <mat-option value="4"> 4 </mat-option>
                    </mat-select>
                </mat-form-field>     
            </span>
            <span>
                <mat-form-field>
                    <mat-label> O que faria de diferente? </mat-label>
                    <textarea rows="10" cols="50" matInput> </textarea>
                </mat-form-field>     
            </span>
        </div>
    </mat-expansion-panel>
</mat-accordion>