/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.algap-container {
    padding: 20px;
}
.large-icon {
    font-size: 150px;
}